<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Inventories galore!</h3>
      <p>These are inventories tied to projects on do/ocracy. Join in the communal fun.</p>
    </div>
    <%= button_to 'New Inventory', new_inventory_path, class: 'btn-success btn-block', method: :get %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Inventory</th>
            <th>Description</th>
            <th>Admin</th>
          </tr>
        </thead>
        <tbody>
            <% @inventories.each do |inventory| %>
          <tr>
            <td><%= link_to inventory.name, inventory %></td>
            <td><%= inventory.description %></td>
            <td><%  admin = User.find(inventory.user_id).user_name %> <%= link_to admin, profile_path(admin) %></td>
          </tr>
              <% end %>
        </tbody>
      </table>

        </div>
      </div>
