<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Create a new inventory</h3>
      <p>Boom! More collaborative consumption is underway!</p>
    </div>


<%= render 'form' %>
