 <div class="jumbotron" id="index-jumbo">
  <h3>Do/ocracy</h3>
  <p>Do/ocracy is a web application allows large complicated projects to be managed and controlled by the members themselves in order to reduce bureaucracy through an open source approach.

    It is aimed at participatory cultures that blur the distinction between user and creator, between supplier and customer.

    By minimising the need for a central bureaucrat to make and approve decisions relating to financials we hope to lower the barriers to engagement and increase the level of direct democracy.</p>
 </div>

  <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>