<div class="page-container">
  <div class="page-wrapper">
    <div class="jumbotron" id="index-jumbo">
      <h3>Why?</h3>
      <p>Do/ocracy will be a web application that allows large complicated projects to be managed and transparently funded by the members themselves. Think of it as one of those apps that allow you to pay for dinner as a group, but for projects.</p>

      <p>The 'why' here is simple – if you reduce bureaucracy you also remove traditional power structures. That has value in its own right, but perhaps more importantly, direct control often improves the quality of the output. Material dialogue and the resulting sense of empowerment is what drive intrinsic motivation - and it’s from a genuine sense of ownership that creativity, curiosity and belonging comes into our human doings.</p>

      <p>It’s aimed at participatory cultures that blur the distinction between user and maker, between supplier and customer.</p>

      <h3>What?</h3>
      <p>It is actually based on some pretty awesome economic theory. Maybe you have heard of the fabulous <a href="http://www.nobelprize.org/nobel_prizes/economic-sciences/laureates/2009/ostrom-facts.html">Elinor Ostrom</a>? Unlike most economists she did not base her theory on axioms but on reality. She identified eight principles that usually describe the social context of local groups that successfully overcome ‘the tragedy of the commons’. </p>

      <p>Taking a queue from those eight pillars we try to make it simple to achieve them.  For now we are focusing on two of them – polycentricism and transparency. </p>

      <p>WTF is polycentricsm, you ask? It’s when a complex adaptive system has many interlocking nodes of relevance that combine to make up something larger. The lovers are part of a family. The family is part of a tribe. The tribe is part of a clan. It is closely related to fractals in natural systems.</p>

      <p>It matters because it pushes power to direct stakeholder. In lieu of this Do/ocracy is focused on the team as the central component.</p>
      
    </div>


    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="project-index-container">
      <div class="project-index-wrapper">
        <div class="row">
          <div class="col-md-4">
            <div class="img-circle">
              image
            </div>
          </div>
          <div class="col-md-8">
            <h3>Name</h3>
            <p>description</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
