<% @my_projects.each do |project| %>
 <h2>
  <%= link_to "Edit", edit_project_path(project) %>
 </h2>
 <h3>
  <%= image_tag project.image.url(:thumb) %>
 </h3>
 <p>
  <%= project.title %>
 </p>
 <p>
  <%= project.description %>
 </p>
<% end %>